# Rust / Cargo
/target
Cargo.lock
**/*.rs.bk
*.pdb

# Node / Web
node_modules
ui/node_modules
ui/dist
dist
.env
.env.local
*.log

# Tauri
src-tauri/target
gen/

# OS / IDE
.DS_Store
Thumbs.db
.vscode/
.idea/

*.tsbuildinfo
